/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  border: solid #eaeaea 1px;
}
