/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
}
