/* footer */
#footer {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 100px;
  text-align: center;
}

#footer > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
