/* Header */
#header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
  margin-bottom: 100px;
}

#header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: var(--bg-color);
}

#header .navBar .navMenu,
#header .navBar .navLogin {
  display: flex;
}

#header .navBar .navMenu li {
  padding: 10px 20px;
  color: var(--ft-color);
}
#header .navBar .navMenu li a,
#header .navBar .navLogin li a {
  color: var(--ft-color);
}

#header .navBar .navLogin li {
  padding: 5px 20px;
  border: solid 1px var(--ft-color);
  border-radius: 5px;
  margin-left: 8px;
}

#header .navBar .navLogin .register {
  background-color: var(--ft-color);
}
#header .navBar .navLogin .register a {
  color: var(--bg-color);
}

.navBar .navMenu li a:hover,
.navBar .navLogin li a:hover {
  text-shadow: 0px 0px 2px var(--ft-color);
}
.navBar .navLogin .register a:hover {
  text-shadow: 0px 0px 2px var(--bg-color);
}

/* 헤더 반응형 미디어쿼리 */
.burger-check {
  display: none;
}
.slider {
  display: none;
}
@media screen and (max-width: 768px) {
  /* 모바일*/
  .slider {
    display: initial;
  }

  #header .navBar .navMenu li:not(:first-of-type) {
    display: none;
  }
  #header .navBar .navMenu {
    /* te: center; */
    margin: auto;
    padding-left: 20px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 2;
    background-color: var(--slider-color);
  }
  .menu div a {
    color: var(--slider-text-color);
    position: inherit;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.7s linear;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }
  .menu div a:not(:first-of-type):hover {
    /* text-shadow: 0px 0px 2px var(--slider-text-color); */
    background-color: lightgray;
    color: white;
  }
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 3;
    padding: 16px 10px;
    user-select: none;
    width: auto;
    margin: 0;
  }

  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .burger-icon .burger-sticks:before {
    top: 5px;
  }

  .burger-icon .burger-sticks:after {
    top: -5px;
  }

  .burger-check {
    display: none;
  }

  .burger-check:checked ~ .menu {
    max-width: 200px;
  }

  .burger-check:checked ~ .menu div a {
    visibility: visible;
    opacity: 1;
  }

  .burger-check:checked ~ .burger-icon .burger-sticks {
    background: transparent;
  }

  .burger-check:checked ~ .burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }

  .burger-check:checked ~ .burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }

  .burger-check:checked ~ .burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked ~ .burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
