:root {
  --bg-color: #7979d3;
  --ft-color: #fff;
  --font-size: 9px;
  --slider-color: #fff;
  --slider-text-color: #7979d3;
}
/* .main  */
#main {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
#gatherPost {
  margin: 30px 0 50px 30px;
}
#gatherPost a {
  color: #333;
}
#post-list {
  /* width: 1300px; */
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
}
.post {
  height: 300px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.post-title {
  margin-bottom: 15px;
}
.post-author {
  margin-bottom: 15px;
}

.post-content {
  margin-top: 15px;
}
.post-look {
  position: relative;
  display: block;
  text-align: right;
  font-size: 12px;
  margin-top: 20px;
}

.write-wrap {
  margin-bottom: 20px;
  text-align: right;
}
.post-write {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  color: var(--ft-color);
  background-color: var(--bg-color);
  display: inline-block;
  position: relative;
}
.post-write:hover {
  cursor: pointer;
}

/* 페이지 이동 버튼 */
.pageList {
  text-align: center;
  margin: 30px 0;
}
.pageList a {
  color: red;
}
