:root {
  --bg-color: #7979d3;
  --ft-color: #fff;
  --atag-color: #333;
  --font-size: 9px;
}

/* login 영역 */
.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 30px 0;
}
#loginForm {
  width: 400px;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#loginForm h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#loginForm .user {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
  visibility: visible;
  transition: 0.35s;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #999;
}
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

/* 찾기 버튼 */
.search {
  margin: 20px 0;
  text-align: center;
}
.search a {
  font-weight: 600;
}
.search a:hover {
  text-decoration: underline;
}

/* 로그인 버튼 */
.loginBtn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: var(--bg-color);
  color: var(--ft-color);
  font-size: 14px;
  font-weight: 600;
}

input[type="submit"] {
  color: var(--ft-color);
  font-size: 14px;
  font-weight: 600;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* 회원 가입 */
.signbox {
  text-align: center;
  font-size: 14px;
}
.signbox span {
  display: block;
  margin-bottom: 5px;
}
.signbox a {
  font-weight: 600;
}
.signbox a:hover {
  text-decoration: underline;
}
