.tagName {
  padding: 10px;
  border-radius: 20px;
  background-color: gray;
  font-weight: 400;
  color: white;
  min-width: 80px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tagName:hover {
  background-color: olivedrab;
}
.select {
  background-color: #6599cc;
}
