.tagName {
  padding: 10px;
  border-radius: 20px;
  background-color: gray;
  font-weight: 400;
  color: white;
  min-width: 80px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.toggle:hover {
  background-color: olivedrab;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.toggle:active {
  background-color: rgb(129, 155, 78);
}
.select {
  background-color: #6599cc;
}
.tagName:not(.toggle) {
  cursor: default;
}
