.tag {
  padding: 10px;
  border-radius: 20px;
  background-color: #6599cc;
  font-weight: 400;
  color: white;
  min-width: 80px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}
/* .tag input[type="checkbox"]:checked {
  background-color: #6599cc;
} */
