:root {
  --bg-color: #7979d3;
  --ft-color: #fff;
  --font-size: 9px;
  --slider-color: #fff;
  --slider-text-color: #7979d3;
}
/* 중앙 배치를 위한 div */
.case {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 게시판 영역 */
.wrap-post {
  width: 80vw;
  padding: 60px;
  overflow: hidden;
  height: auto;
}
/* 자유게시판 링크 */
.board h1 {
  margin-bottom: 40px;
}
.board a {
  color: var(--bg-color);
}

/* 게시글 */
.post {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  height: auto;
}
.title {
  font-size: 25px;
}

.title,
.postInfo,
.postContent {
  margin: 15px 0 0 15px;
}
.postInfo {
  display: flex;
  justify-content: space-between;
}
.postInfo a {
  color: black;
}

.postInfo #time {
  font-size: 12px;
}

/* 댓글 */
.comments {
  overflow: hidden;
  height: auto;
}
.comment .commentContent {
  margin-bottom: 6px;
  font-size: 13px;
}
input[type="text"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}
input[type="text"]:focus {
  border-color: #999;
}

.writecomment {
  margin-top: 10px;
}

/* 댓글 작성, 목록 버튼 */
.button {
  margin-top: 10px;
  text-align: right;
}
.button input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: var(--ft-color);
  background-color: var(--bg-color);
}
.button a {
  color: var(--bg-color);
}
.button a:hover {
  text-decoration: underline;
}
