<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/error.css" />
    <title>ERROR</title>
  </head>
  <body>
    <div class="container">
      <div>
        <div id="error_card">
          <img src="/img/error/404error.png" alt="404" />
        </div>
      </div>
    </div>
    <script type="module" src="/js/pages/errorPage.js"></script>
  </body>
</html>
