<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모집게시판 글 상세 화면입니다.</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/gatherboardDetail.css" />
    <link rel="stylesheet" href="/css/comments.css" />
  </head>
  <body>
    <script type="module" src="/js/gatherboardDetail.js"></script>
  </body>
</html>
