<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>계정/ 비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/issuedPassword.css" />
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <!-- search -->
      <section class="searchBox">
        <form id="searchForm" action="/signin" method="POST">
          <h2>비밀번호 찾기</h2>
          <span class="user">ID</span>
          <input class="id" type="email" name="id" placeholder="아이디를 입력해주세요." />
          <input class="submit" type="button" value="찾기" />
        </form>
      </section>

      <!--footer-->
    </div>
    <script type="module" src="/js/issuedPassword.js"></script>
  </body>
</html>
