<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모집게시판 리스트</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/posts.css" />
  </head>
  <body>
    <div class="container">
      <!-- header -->

      <!-- posts -->
      <main class="main" role="main">
        <h1 id="gatherPost">
          <a href="/posts">모집 게시판</a>
        </h1>
        <div class="write-wrap">
          <a class="post-write" href="/edit/post/${post.id}">글 작성하기</a>
        </div>
      </main>

      <!--footer-->
    </div>
    <script type="module" src="/js/posts.js"></script>
  </body>
</html>
