<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/signin.css" />
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <!-- login -->
      <section class="loginBox">
        <form id="loginForm" type="submit">
          <h2>Developer Post</h2>
          <span class="user">ID</span>
          <input class="loginId" type="email" name="id" placeholder="아이디를 입력하세요." />
          <span class="user">Password</span>
          <input
            class="loginPassword"
            type="password"
            name="password"
            placeholder="비밀번호를 입력하세요."
          />
          <div class="search">
            <a href="/issuedPassword">비밀번호 찾기</a>
          </div>
          <input class="loginBtn" type="submit" value="로그인" />
          <div class="signbox">
            <span>아직 회원이 아니신가요?</span>
            <a href="/signup">회원가입</a>
          </div>
        </form>
      </section>
      <!--footer-->
    </div>
    <script type="module" src="/js/signin.js"></script>
  </body>
</html>
