<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로젝트 이름</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/userUpdate.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body></body>
  <script type="module" src="/js/userUpdate.js"></script>
  <script>
    //button submit event
    function btnSubmit() {
      // 정상적으로 업데이트 됐다면
      alert(`변경에 성공했습니다`);
      // 아니라면
      // alert(`${label} 변경에 실패했습니다`);
    }
    function confirmPw() {
      const nowPw = document.getElementById("nowPw").value;
      const chPw = document.getElementById("chPw").value;
      const ckPw = document.getElementById("ckPw").value;
      const password = `12345`; // user password 값 가져와야 함
      const pwField = document.getElementById("password");
      pwField.setAttribute("target", "iframe");
      if (nowPw !== password) alert("현재 비밀번호를 잘못입력했습니다");
      else if (chPw !== ckPw) alert("비밀번호 확인이 틀렸습니다");
      else {
        if (checkPw(chPw)) {
          alert(`비밀번호를 성공적으로 변경했습니다. 변경한 비밀번호로 다시 로그인해 주세요`);
          const pwField = document.getElementById("password");
          pwField.removeAttribute("target");
          pwField.setAttribute("action", "#");
        } else alert("8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
      }
    }
    function checkPw(chPw) {
      const pwPattern = /[a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]{8,16}/;
      if (chPw === "") return false;
      else if (!pwPattern.test(chPw)) return false;

      return true;
    }
  </script>
</html>
