<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로젝트 이름</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/userUpdate.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <main id="main" role="main">
      <p class="group-title"></p>
      <section class="flex-container">
        <!-- 유저 데이터 수정 -->
        <div class="flex-item">
          <!-- <div class="field"> -->
          <form class="field" id="nickname" target="iframe">
            <p class="label">닉네임</p>
            <input class="data" name="filled" id="name" />
            <input type="submit" class="updateBtn" name="filledBtn" id="nameBtn" value="수정" />
            <div class="error_next_box" style="visibility: hidden"></div>
          </form>
          <!-- </div> -->
          <form class="field" id="skilltag" target="iframe">
            <p class="label">기술스택</p>
            <input type="checkbox" class="skilltag" name="filled" id="vue" checked />
            <label for="vue">vue.js</label>
            <input type="checkbox" class="skilltag" name="filled" id="react" checked />
            <label for="react">react.js</label>
            <input type="checkbox" class="skilltag" name="filled" id="vjs" />
            <label for="vjs">vanilla JS</label>
            <input type="submit" class="updateBtn" name="filledBtn" value="수정" />
            <div class="error_next_box" style="visibility: hidden"></div>
          </form>
          <!-- 유저 패스워드 수정 -->
          <form id="password" target="iframe" class="field">
            <p class="label">현재 비밀번호</p>
            <input class="data" type="password" id="nowPw" />
            <div class="error_next_box" style="visibility: hidden"></div>

            <p class="label">변경 비밀번호</p>
            <input class="data" type="password" id="changePw" />
            <div class="error_next_box" style="visibility: hidden"></div>

            <p class="label">비밀번호 확인</p>
            <input class="data" type="password" id="checkPw" />

            <!-- 패스워드 버튼 -->
            <input type="submit" class="updateBtn" id="passwordBtn" value="비밀번호 변경" />
            <div class="error_next_box" style="visibility: hidden"></div>
          </form>
        </div>
      </section>
    </main>
    <iframe id="iframe" name="iframe" style="display: none"></iframe>
    <script type="module" src="/js/userUpdate.js"></script>
  </body>
</html>
